<div class="card" style="min-height: 140px;">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Data de Agendamento</span>
        </div>

        <div class="row">
            <label class="col-sm-8">Defina a data para agendamento:
                <input type="date" name="" class="form-control">
            </label>
        </div>
    </div>
</div>
