<footer class="py-2 bg-white">
    <div class="container-fluid">
        <small class="d-block text-center text-body-tertiary">
            Carrefour Property © <span data-js="currentYear"></span> | All rights reserved.
        </small>
    </div>
</footer>
