<div class="align-items-center d-flex gap-3 justify-content-between">
    <a class="navbar-brand" href="/principal/">
        <img
            class="img-fluid slide-in-left"
            src="/assets/images/logo-white.svg"
            alt="logo"
        />
    </a>

    <div class="d-flex gap-3 justify-content-end">
        <div class="dropdown flex-shrink-0">
            <a
                href="#"
                class="align-items-center d-flex dropdown-toggle gap-2 link-light slide-in-right text-decoration-none"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <img
                    src="https://cdn-icons-png.flaticon.com/128/2099/2099220.png"
                    alt="mdo"
                    width="32"
                    height="32"
                    class="rounded-circle"
                />
                <div class="d-flex flex-column">
                    <span class="lh-1">Administrador</span>
                    <small class="lh-1">maycon@dlfelix.com</small>
                </div>
            </a>
            <ul class="dropdown-menu shadow text-small">
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-person-circle"></i>
                        <small class="line-height-1">Perfil</small>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/index.html">
                        <i class="bi bi-power"></i>
                        <small class="line-height-1">Sair</small>
                    </a>
                </li>
            </ul>
        </div>
        <button
            id="navbarSideCollapse"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
