---
import '@assets/sass/imports.scss'
---
<meta charset="UTF-8" />
<meta name="description" content="Astro description">
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />
<title>Carrefour Property</title>

<!-- Fonts/Icons -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&display=swap">

<link rel="stylesheet" href="/assets/fonts/fonts.css">
<link rel="stylesheet" href="/assets/icons/bootstrap/bootstrap-icons.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="/assets/vendor/dataTables/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/vendor/bootstrap-select/bootstrap-select.min.css" />
<link rel="stylesheet" href="/assets/vendor/fancybox/fancybox.css" />
<link rel="stylesheet" href="/assets/vendor/jquery.tagsinput/jquery.tagsinput-revisited.min.css">

<!-- App CSS -->

<!-- Libs JS -->
<script type="module" src="/assets/libs/jquery/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script type="module" src="/assets/bootstrap/bootstrap.bundle.min.js"></script>

<!-- Vendor JS -->
<script type="module" src="/assets/vendor/purify.min.js"></script>
<script type="module" src="/assets/vendor/imask.min.js"></script>
<script type="module" src="/assets/vendor/dataTables/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
<script type="module" src="/assets/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script type="module" src="/assets/vendor/bootstrap-select/i18n/defaults-pt_BR.min.js"></script>
<script type="module" src="/assets/vendor/jquery.tagsinput/jquery.tagsinput-revisited.min.js"></script>
<script type="module" src="/assets/vendor/jquery.floatThead.min.js"></script>
<script is:inline src="/assets/vendor/fancybox/fancybox.umd.js"></script>
<script type="module" src="/assets/vendor/config-vendores.js"></script>

<!-- App JS -->
<script type="module" src="/assets/js/main.js"></script>
