/* --------------------------------------------------------------------
* - wrapper-grid
---------------------------------------------------------------------- */
.wrapper-grid{
    z-index: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: "box-left box-right";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

/* --------------------------------------------------------------------
* - box-left
---------------------------------------------------------------------- */
.box-left{
    grid-area: box-left;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple-400);
}
.box-left .logo-login-left{
    max-width: 250px;
}

/* --------------------------------------------------------------------
* - box-right
---------------------------------------------------------------------- */
.box-right{
    grid-area: box-right;
    position: relative;
    background-color: #e7e7e7;
}
.box-right .img-box-right{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.content-box-right{
    display: flex;
    height: 100%;
}
.content-box-right .canvas{
    z-index: 1;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0 top 0;
    background-image: url("../../assets/images/canvas-right.svg");
}
.content-box-right::before{
    z-index: 0;
    content: "";
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
}

/* --------------------------------------------------------------------
* - wrapper-login
---------------------------------------------------------------------- */
.wrapper-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4rem 2rem 2rem 2rem;
}
.logo-login-horizontal{
    display: none;
    z-index: 1;
    max-width: 150px;
    margin-bottom: 2rem;
}

.card-login {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 500px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
}

.title-login{
    color: var(--color-purple-400);
    font-size: 3rem;
    font-family: 'Banana Yeti';
}

/* --------------------------------------------------------------------
* - form-control
---------------------------------------------------------------------- */
.form-control{
    --placehorder-color-text: var(--color-purple-400);
}
.form-control {
    background: transparent;
    border: none;
    height: 50px;
    color: #fff !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 30px;
    transition: 0.3s;
}
.form-control:hover,
.form-control:focus {
    color: #222 !important;
    background: rgba(255, 255, 255, 0.75);
    outline: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.6);
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

/* Chrome/Opera/Safari */
/* Firefox 19+ */
/* Firefox 18- */
/* IE 10+ */
.form-control::-webkit-input-placeholder { color: var(--placehorder-color-text) !important;}
.form-control::-moz-placeholder          { color: var(--placehorder-color-text) !important;}
.form-control:-moz-placeholder           { color: var(--placehorder-color-text) !important;}
.form-control:-ms-input-placeholder      { color: var(--placehorder-color-text) !important;}

/* --------------------------------------------------------------------
* - btn
---------------------------------------------------------------------- */
.btn-showPass {
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
}

.btn-submit {
    color: #777!important;
    border-color: transparent;
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}
.btn-submit:hover,
.btn-submit:focus {
    box-shadow: none;
    color: #fff!important;
    background-color: var(--color-purple-400);
    border-color: transparent!important;
}

/* --------------------------------------------------------------------
* - @media
---------------------------------------------------------------------- */
@media (max-width: 980px){
    .wrapper-grid{
        grid-template-columns: 1fr 3fr;
    }
    .box-left .logo-login-left{
        max-width: 150px;
    }
}

@media (max-width: 768px){
    .wrapper-grid{
        grid-template-areas: "box-right";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .logo-login-horizontal{
        display: block;
    }

    .box-left {
        display: none;
    }
    .content-box-right .canvas{
        display: none;
    }
    .title-login{
        font-size: 2.3rem!important;
    }
}
