<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Preenchimento das Instalações de Sua Loja</span>
        </div>

        <div class="row">
            <label class="d-flex align-items-baseline gap-1 col-lg-12">
                <input type="checkbox" name="" class="parent-all" data-group=".group1">
                <strong>TODOS</strong>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>CONSTRUIR ALVENARIA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>DEMOLIÇÃO</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE VIDROS NA FACHADA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE LOGO (LETREIRO LUMINOSO)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE TESTEIRA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>PINTURA DA FACHADA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>PROTETOR HORIZONTAL DE INOX (PROTEÇÃO DOS VIDROS TEMPERADOS)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE PORTA DE ENROLAR</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE PORTA DE LONA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>MEZANINO EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAR O MEZANINO</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>QD -QUADRO DISTRIBUIÇÃO (ELÉTRICA) EXISTENTE DENTRO DA LOJA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DO QD -QUADRO DISTRIBUIÇÃO (ELÉTRICA) DENTRO DA LOJA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>EXISTE CABO ALIMENTADOR NA LOJA / LOCAL</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE COMPRESSOR</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>COMPRESSOR EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>INSTALAÇÃO DE EXAUSTÃO</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>EVAPORADORA E CONDENSADORA ESTÃO INSTALADOS</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>EVAPORADORA E CONDENSADORA SERÃO INSTALADOS</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>SISTEMA DE HIDRAULICA (AF / EG) É EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>NECESSIDADE DE INSTALAÇÃO DE HIDRAULICA (AF / EG)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>SISTEMA DE GÁS EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>NECESSIDADE DE INSTALAÇÃO DE GÁS</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>SISTEMA DE COMBATE DE INCÊNDIO (SPRINKLERS) EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (SPRINKLERS)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>SISTEMA DE COMBATE DE INCÊNDIO (EXTINTOR) EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (EXTINTOR)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>SISTEMA DE COMBATE DE INCÊNDIO (DETECÇÃO) EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (DETECÇÃO)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>SISTEMA DE COMBATE DE INCÊNDIO (SINAL. EMERGÊNCIA) EXISTENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-6">
                <input type="checkbox" name="" class="group1">
                <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (SINAL. EMERGÊNCIA)</span>
            </label>
        </div>
    </div>
</div>

<script is:inline>
    window.addEventListener('load', () => {
        $(".parent-all").each(function (index) {
            const parent = $(this);
            const group = $(this).data("group");

            parent.change(function () {
                $(group).prop('checked', parent.prop("checked"));
            });

            $(group).change(function () {
                parent.prop('checked', $(group + ':checked').length === $(group).length);
            });
        });
    })
</script>
