<style is:inline>
    #clone-row .content-clone:first-child .btn-del{ display: none;}
</style>

<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem dos Equipamentos a Serem Utilizados na Sua Loja</span>
        </div>

        <div class="table-responsive mb-1">
            <table class="table table-fixed" id="clone-row">
                <thead>
                    <tr>
                        <td style="width: 300px" class="text-center">Equipamentos</td>
                        <td style="width: 100px" class="text-center">Quant.</td>
                        <td style="width: 150px" class="text-center">Potência(w)</td>
                        <td style="width: 100px" class="text-center">Del</td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="content-clone">
                        <td>
                            <input type="text" name="equipamento_1" id="equipamento_1" class="form-control" value="">
                        </td>
                        <td>
                            <input type="number" name="qtd_1" id="qtd_1" class="form-control text-center" value="">
                        </td>
                        <td>
                            <input type="number" name="potencia_1" id="potencia_1" class="form-control text-center" value="">
                        </td>

                        <td class="text-center">
                            <button
                                type="button"
                                id="btn-del"
                                class="btn btn-danger btn-small btn-del"
                                data-bs-toggle="tooltip"
                                data-bs-title="Del">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-success mb-0" id="btnAdd-clone">+ Adicionar</button>
    </div>
</div>
