---
import Head from '../../../../../../../includes/Head.astro';
import '../../../../../../../sass/imports.scss';

import ContentTabs from '../ContentTabs.astro';
import ContentTitle from '../ContentTitle.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentTitle />
        <ContentTabs />

        <form action="" method="post">
            <div class="card">
                <div class="card-body">
                    <div class="section-title">
                        <span class="title">Preenchimento das Instalações de Sua Loja</span>
                    </div>

                    <div class="row">
                        <label class="d-flex align-items-baseline gap-1 col-lg-12">
                            <input type="checkbox" name="" class="parent-all" data-group=".group1">
                            <strong>TODOS</strong>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>CONSTRUIR ALVENARIA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>DEMOLIÇÃO</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE VIDROS NA FACHADA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE LOGO (LETREIRO LUMINOSO)</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE TESTEIRA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>PINTURA DA FACHADA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>PROTETOR HORIZONTAL DE INOX (PROTEÇÃO DOS VIDROS TEMPERADOS)</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE PORTA DE ENROLAR</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE PORTA DE LONA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>MEZANINO EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAR O MEZANINO</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>QD -QUADRO DISTRIBUIÇÃO (ELÉTRICA) EXISTENTE DENTRO DA LOJA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DO QD -QUADRO DISTRIBUIÇÃO (ELÉTRICA) DENTRO DA LOJA</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>EXISTE CABO ALIMENTADOR NA LOJA / LOCAL</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE COMPRESSOR</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>COMPRESSOR EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>INSTALAÇÃO DE EXAUSTÃO</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>EVAPORADORA E CONDENSADORA ESTÃO INSTALADOS</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>EVAPORADORA E CONDENSADORA SERÃO INSTALADOS</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>SISTEMA DE HIDRAULICA (AF / EG) É EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>NECESSIDADE DE INSTALAÇÃO DE HIDRAULICA (AF / EG)</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>SISTEMA DE GÁS EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>NECESSIDADE DE INSTALAÇÃO DE GÁS</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>SISTEMA DE COMBATE DE INCÊNDIO (SPRINKLERS) EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (SPRINKLERS)</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>SISTEMA DE COMBATE DE INCÊNDIO (EXTINTOR) EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (EXTINTOR)</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>SISTEMA DE COMBATE DE INCÊNDIO (DETECÇÃO) EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (DETECÇÃO)</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>SISTEMA DE COMBATE DE INCÊNDIO (SINAL. EMERGÊNCIA) EXISTENTE</span>
                        </label>

                        <label class="d-flex align-items-baseline gap-1 col-lg-6">
                            <input type="checkbox" name="" class="group1">
                            <span>NECESSIDADE DE INSTALAÇÃO DE COMBATE DE INCÊNDIO (SINAL. EMERGÊNCIA)</span>
                        </label>
                    </div>
                </div>
            </div>

            <script is:inline>
                window.addEventListener('load', () => {
                    $(".parent-all").each(function (index) {
                        const parent = $(this);
                        const group = $(this).data("group");

                        parent.change(function () {
                            $(group).prop('checked', parent.prop("checked"));
                        });

                        $(group).change(function () {
                            parent.prop('checked', $(group + ':checked').length === $(group).length);
                        });
                    });
                })
            </script>

            <style is:inline>
                #clone-row .content-clone:first-child .btn-del{ display: none;}
            </style>

            <div class="card">
                <div class="card-body">
                    <div class="section-title">
                        <span class="title">Listagem dos Equipamentos a Serem Utilizados na Sua Loja</span>
                    </div>

                    <div class="table-responsive mb-1">
                        <table class="table table-fixed" id="clone-row">
                            <thead>
                                <tr>
                                    <td style="width: 300px" class="text-center">Equipamentos</td>
                                    <td style="width: 100px" class="text-center">Quant.</td>
                                    <td style="width: 150px" class="text-center">Potência(w)</td>
                                    <td style="width: 100px" class="text-center">Del</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="content-clone">
                                    <td>
                                        <input type="text" name="equipamento_1" id="equipamento_1" class="form-control" value="">
                                    </td>
                                    <td>
                                        <input type="number" name="qtd_1" id="qtd_1" class="form-control text-center" value="">
                                    </td>
                                    <td>
                                        <input type="number" name="potencia_1" id="potencia_1" class="form-control text-center" value="">
                                    </td>

                                    <td class="text-center">
                                        <button
                                            type="button"
                                            id="btn-del"
                                            class="btn btn-danger btn-small btn-del"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Del">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button type="button" class="btn btn-success mb-0" id="btnAdd-clone">+ Adicionar</button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary" href="/lojas-galerias/obras/timeline-selecionada/popups/timeline-2/tab5/">Salvar</a>
                    </div>
                </div>
            </div>
        </form>

        <script is:inline>
            window.addEventListener('load', () => {
                function cloneForm() {
                    let i = 0;

                    function updateFieldNumbers() {
                        $("#clone-row .content-clone").each(function (index) {
                            const row = $(this);
                            const fields = row.find(
                                "select, input, a[id^='btn-del'], button[id^='btn-del']"
                            );
                            // Atualiza os atributos name, id e value dos campos
                            fields.each(function () {
                                const field = $(this);
                                const name = field.attr("name");
                                const id = field.attr("id");

                                // / indica o início da expressão regular.
                                // \d representa qualquer dígito numérico.
                                // + indica que o dígito numérico pode aparecer uma ou mais vezes consecutivas.
                                // $ indica o final da string.
                                // / indica o final da expressão regular.
                                //expressão regular /\d+$/ procura uma ou mais ocorrências consecutivas de dígitos numéricos no final da string.

                                if (name) {
                                    //atualiza o valor do atributo name
                                    field.attr("name", name.replace(/\d+$/, index + 1));
                                }
                                if (id) {
                                    //atualiza o valor do atributo name
                                    field.attr("id", id.replace(/\d+$/, index + 1));
                                }
                            });
                        });
                    }

                    $("#btnAdd-clone").click(function () {
                        const rowClone = $("#clone-row .content-clone:first")
                            .clone()
                            .appendTo("#clone-row");
                        rowClone.find("input").val(""); // Define o valor dos campos clonados como vazio

                        //reativa tooltips
                        $('[data-bs-toggle="tooltip"]').tooltip();

                        i++;
                        updateFieldNumbers();
                    });

                    $("#clone-row").on("click", ".content-clone .btn-del", function () {
                        if (!confirm("Você tem certeza que deseja excluir?")) {
                            return false;
                        }

                        //destroy tooltip
                        $('[data-bs-toggle="tooltip"]').tooltip('dispose')

                        $(this).closest(".content-clone").remove();
                        updateFieldNumbers();
                    });
                }

                cloneForm();
            })
        </script>
    </body>
</html>
