---
import Head from '@includes/Head.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <span class="title">Preencher Informações</span>
                </div>

                <div class="row">
                    <label class="col-lg-3 col-md-4 col-sm-6">
                        Inicio da Obra:
                        <input type="date" name="" class="form-control">
                    </label>

                    <label class="col-lg-3 col-md-4 col-sm-6">
                        Dias Totais de Obras:
                        <input type="number" name="" class="form-control">
                    </label>

                    <label class="col-lg-3 col-md-4 col-sm-6">
                        Previsão de Vistoria Intermediária:
                        <input type="date" name="" class="form-control">
                    </label>

                    <label class="col-lg-3 col-md-4 col-sm-6">
                        Previsao de Vistoria Final:
                        <input type="date" name="" class="form-control">
                    </label>

                    <label class="col-lg-3 col-md-4 col-sm-6">
                        Cadastro de Utilities:
                        <input type="date" name="" class="form-control">
                    </label>

                    <label class="col-lg-3 col-md-4 col-sm-6">
                        Data de Inauguração:
                        <input type="date" name="" class="form-control">
                    </label>

                    <div class="col-lg-6">
                        <div class="label-clearfix last-lg">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
