---
interface Props{
    id: number;
    url?: string;
    setup: string;
}

const { id, url, setup } = Astro.props;
---

<li>
    <li class="list-group-item p-0 mb-1">
        <a class="d-block p-2" href={url}>
            <h6>{id}</h6>
            <small>{setup}</small>
        </a>
    </li>
</li>
