<div class="mb-3">
    <h6>O responsável pela <strong>LOJA</strong> será:</h6>

    <div class="row">
        <label class="col-lg-3 col-md-4 col-sm-4">Nome:
            <input type="text" name="" class="form-control">
        </label>

        <label class="col-lg-6 col-md-8 col-sm-8">Endereço:
            <input type="text" name="" class="form-control">
        </label>

        <label class="col-lg-3 col-md-4 col-sm-4">Telefone:
            <input type="text" name="" class="form-control jQueryMask-phone">
        </label>

        <label class="col-lg-3 col-md-4 col-sm-4">Celular:
            <input type="text" name="" class="form-control jQueryMask-phone">
        </label>

        <label class="col-lg-3 col-md-4 col-sm-4">E-mail:
            <input type="email" name="" class="form-control">
        </label>
    </div>
</div>
