---
import Head from '../../../../../../../includes/Head.astro';
import '../../../../../../../sass/imports.scss';

import ContentTabs from '../ContentTabs.astro';
import ContentTitle from '../ContentTitle.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentTitle />
        <ContentTabs />

        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <span class="title">Preencher Dados</span>
                </div>

                <form action="" method="post">
                    <div class="mb-3">
                        <h6>O responsável pela <strong>LOJA</strong> será:</h6>

                        <div class="row">
                            <label class="col-lg-3 col-md-4 col-sm-4">Nome:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-6 col-md-8 col-sm-8">Endereço:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-4 col-sm-4">Telefone:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-4 col-sm-4">Celular:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-4 col-sm-4">E-mail:
                                <input type="email" name="" class="form-control">
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6>O responsável técnico pela execução do <strong>Projeto</strong> será:</h6>

                        <div class="row">
                            <label class="col-lg-3 col-md-4 col-sm-4">Nome:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-6 col-md-8 col-sm-8">Profissão - (Arquiteto(a) / Engenheiro(a)):
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-3 col-sm-6">CAU / CREA No:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-3 col-sm-6">Telefone:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-3 col-sm-6">Celular:
                                <input type="text" name="" class="form-control">
                            </label>

                            <label class="col-lg-3 col-md-3 col-sm-6">E-mail:
                                <input type="email" name="" class="form-control">
                            </label>
                        </div>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary" href="/lojas-galerias/obras/timeline-selecionada/popups/timeline-2/tab3/">Salvar</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
