---
import Head from '@includes/Head.astro';

import ContentTabs from '../ContentTabs.astro';
import ContentTitle from '../ContentTitle.astro';
import ContentLoja from './ContentLoja.astro';
import ContentProjeto from './ContentProjeto.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <ContentTitle />
        <ContentTabs />

        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <span class="title">Preencher Dados</span>
                </div>

                <form action="" method="post">

                    <ContentLoja />
                    <ContentProjeto />

                    <hr>

                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary" href="/lojas-galerias/obras/timeline-selecionada/popups/timeline-2/tab3/">Salvar</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
