---
import Header from '@includes/Header.astro';
import Layout from '@layouts/Layout.astro';

import Template from './Template.astro';
---

<Layout>
    <header class="header-app">
        <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-app-purple-400 py-1">
            <section class="container-fluid">
                <div class="d-flex flex-column w-100">
                    <Header />
                </div>
            </section>
        </nav>
    </header>

    <main class="main-app">
        <section class="container-fluid">
            <Template />
        </section>
    </main>
</Layout>
