---
import Head from '@includes/Head.astro';
import ValidacaoNull from '@components/Validacoes/ValidacaoNull.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">

        <ValidacaoNull
            complementoTituloValidacao=""
            complementoTituloValidacoes=""
        />
    </body>
</html>
