---
interface Props {
	id: string;
	idLabel: string;
    title?: string | undefined;
}

const { id, idLabel, title} = Astro.props;

---

<!-- Modal -->
<div
	class="modal fade modal-popup"
	id={id}
	tabindex="-1"
	aria-labelledby={idLabel}
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered" style="max-width: 1000px">
		<div class="modal-content">

			<div class="modal-header">
					<div class="section-title" id={idLabel}>
                        <span class="title">{title}</span>
                    </div>

				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close">
                </button>
			</div>

			<div class="modal-body">

            </div>

			<div class="modal-footer">
				<button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal">
                    Save changes
                </button>
			</div>
		</div>
	</div>
</div>

<style>
    .modal-popup{
        background-color: var(--color-gray-400);
    }

    .modal-popup .modal-header{
        align-items: baseline;
        border-bottom: 0;
    }
    .modal-popup .modal-footer{
        border-top: 0;
    }
</style>
