<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Etapa 2 - Projetos Complementares</span>
        </div>

        <div class="table-responsive" style="max-height: 300px;">
            <table class="table text-center table-fixed fixThead">
                <thead>
                    <tr>
                        <th style="width: 200px;">Área</th>
                        <th style="width: 70px;">
                            <label class="d-flex justify-content-center mb-0 gap-2">
                                <input type="checkbox" name="" class="parent-all" data-group=".group1">
                                <div>Todos</div>
                            </label>
                        </th>
                        <th style="width: 300px;">Nome do Documento</th>
                        <th style="width: 200px;">Responsável</th>
                        <th style="width: 250px;" class="text-center">Documento</th>
                        <th style="width: 100px;" class="text-center">Validação</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Ar Condicionado -->
                    <tr>
                        <td rowspan="3" class="border-end">Ar Condicionado</td>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>
                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento" data-fancybox="" data-type="iframe"
                                data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>
                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento" data-fancybox="" data-type="iframe"
                                data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Ar Condicionado</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Elétrica -->
                    <tr class="row-striped">
                        <td rowspan="3" class="border-end">Elétrica</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Elétrica</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Estrutural -->
                    <tr>
                        <td rowspan="3" class="border-end">Estrutural</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>
                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Estrutural</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Exaustão -->
                    <tr class="row-striped">
                        <td rowspan="3" class="border-end">Exaustão</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Exaustão</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Gás -->
                    <tr>
                        <td rowspan="3" class="border-end">Gás</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Gás</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Hidráulica -->
                    <tr class="row-striped">
                        <td rowspan="3" class="border-end">Hidráulica</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Hidráulica</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Operação -->
                    <tr>
                        <td rowspan="1" class="border-end">Operação</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Licença Operação</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- PCI -->
                    <tr class="row-striped">
                        <td rowspan="3" class="border-end">PCI</td>

                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>
                            <label class="w-100 mb-0">
                                <input type="checkbox" name="" class="group1">
                            </label>
                        </td>

                        <td>Projeto/Laudo Combate a Incêndio</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-doc-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação"
                                data-fancybox="" data-type="iframe" data-width="1200" data-height="600" href="./popup-val-etapa-2.html">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style is:inline>
    .row-selected td{ background-color: rgba(86, 189, 236, 0.1)!important;}
</style>

<script is:inline>
    window.addEventListener('load', () => {
        $(".parent-all").each(function (index) {
            const parent = $(this);
            const group = $(this).data("group");

            parent.change(function () {
                $(group).prop('checked', parent.prop("checked"));
            });

            $(group).change(function () {
                parent.prop('checked', $(group + ':checked').length === $(group).length);
            });
        });

        $('.parent-all').change(function () {
            const isChecked = $(this).is(':checked');
            $('.group1').closest('tr').toggleClass('row-selected', isChecked);
        });

        $('.group1').change(function () {
            $(this).closest('tr').toggleClass('row-selected', $(this).is(':checked'));
        });
    })
</script>
