---
import Head from '../../../../../../includes/Head.astro';
import '../../../../../../sass/imports.scss'
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">

    </body>
</html>
