<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Novo Pavimento</span>
        </div>

        <form method="" action="" id="form_detail">
            <section class="row">
                <label class="col-lg-3 col-md-6 col-sm-6">Pavimento:
                    <select class="form-select" name="" id="" required>
                        <option value=""></option>
                        <option value="1">Sub-Solo 1</option>
                        <option value="2">Sub-Solo2</option>
                        <option value="3">Térreo</option>
                        <option value="4">1 Pavimento</option>
                        <option value="5">2 Pavimento</option>
                        <option value="6">3 Pavimento</option>
                        <option value="7">Implantação</option>
                    </select>
                </label>

                <label class="col-lg-2 col-md-6 col-sm-6">Ordem:
                    <input type="number" name="ordem" class="form-control" required>
                </label>

                <div class="col-lg-7 col-md-12 col-sm-12">
                    <label for="input-1" class="form-label mb-0 w-100">
                        <div class="d-flex justify-content-between gap-2">
                            <div class="d-flex gap-1">
                                <span>Arquivo:</span>
                                <i class="bi bi-info-circle-fill tooltipFileTypes" data-bs-toggle="tooltip"></i>
                            </div>

                            <div class="btns" id="fileBtns-1" style="display: none">
                                <a class="text-decoration-none ml-2" data-bs-toggle="tooltip" data-bs-title="Download" href="">
                                    <i class="bi bi-cloud-download-fill text-success"></i>
                                </a>

                                <a class="text-decoration-none ml-2 delete" data-bs-toggle="tooltip" data-bs-title="Delete" href="">
                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                </a>
                            </div>
                        </div>
                    </label>
                    <input class="form-control" type="file" id="input-1" value="" onchange="checkAttachment(1)">
                </div>

                <label class="col-lg-10 col-md-12 col-sm-12">Abaixo liste as lucs deste pavimento:
                    <input type="text" name="lucs" class="form-control tagsinput" id="form-tags" required>
                </label>

                <div class="col-lg-2 col-md-12 col-sm-12">
                    <div class="label-clearfix last-lg"></div>
                    <button type="submit" class="btn btn-primary float-end">Salvar</button>
                </div>
            </section>
        </form>
    </div>
</div>

<script is:inline>
    var fileSizeText = '100 MB'
    var fileSizeBite = '104857600'
    var extensionsText = '.png, .jpg, .jpeg, .svg, .txt, .pdf, .dwg, .doc, .docx, .odt, .xls, .xlsx, .ods, .ppt, .pptx, .odp, .rar, .zip e .7z'

    function fileTypes() {
        const tooltipFileTypes = document.querySelectorAll('.tooltipFileTypes')

        tooltipFileTypes.forEach( item => {
            item.setAttribute('data-bs-title', `Tamnho maximo do arquivo ${fileSizeText}. Extensões permitidas: ${extensionsText}`)
        })
    }
    fileTypes();

    function checkAttachment(item) {
        let fileInput = document.querySelector('#input-' + item)
        let fileBtns = document.querySelector('#fileBtns-' + item)
        let label = document.querySelector('#label-' + item)
        const extensions = /(.png|.jpg|.jpeg|.svg|.txt|.pdf|.doc|.docx|.odt|.xls|.xlsx|.ods|.ppt|.pptx|.odp|.rar|.zip|.7z)$/i
        const filePath = fileInput.value
        const fileSize = fileSizeBite
        const split = filePath ? filePath.split("\\.").length : 1

        if (!extensions.exec(filePath) && filePath !== "" && split > 1) {
            alert(`Fora das extensões permitidas: ${extensionsText}`);
            fileBtns.style.display = 'none';
            fileInput.value = '';
            label.innerText = '';
            return false;
        }

        if (fileInput.files && fileInput.files[0] && fileInput.files[0].size > fileSize) {

            alert(`Execede o tamanho máximo de: ${fileSizeText}!`);
            fileBtns.style.display = 'none';
            fileInput.value = '';
            label.innerText = '';
            return false;
        }

        filePath.length > 0 ? fileBtns.style.display = 'block' : fileBtns.style.display = 'none'
    }

    addEventListener('load', () => {
        $(document).on('click', 'a.delete', function () {
            return confirm("Deseja realmente excluir este anexo");
        });

        $('.tagsinput').tagsInput({ placeholder: 'Add Lucs' });
    })
</script>
