---
import Head from '../../../../includes/Head.astro';

import '../../../../sass/imports.scss'

import ContentCad from './ContentCad.astro';
import ContentListagem from './ContentListagem.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentCad />
        <ContentListagem />
    </body>
</html>
