---
import Head from '@includes/Head.astro';

import ContentCad from './ContentCad.astro';
import ContentListagem from './ContentListagem.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <ContentCad />
        <ContentListagem />
    </body>
</html>
