<div class="section-title justify-content-between align-items-baseline gap-2">
    <nav aria-label="breadcrumb" class="breadcrumb-app">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Time Line</li>
            <li class="breadcrumb-item">Carrefour Anchieta</li>
            <li class="breadcrumb-item">SPA</li>
            <li class="breadcrumb-item">LUC 004</li>
            <li class="breadcrumb-item">O BOTICÁRIO</li>
            <li class="breadcrumb-item active" aria-current="page">Reforma da Loja</li>
        </ol>
    </nav>

    <a class="btn btn-success" href="../timeline/">
        <div class="d-flex align-items-center gap-1">
            <i class="bi bi-arrow-left"></i> Voltar
        </div>
    </a>
</div>
