<div class="pt-3 pb-5 slide-in-left">
    <article class="row align-items-center justify-content-between mb-1">
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-start gap-1">
                <i class="bi bi-rocket-takeoff-fill"></i>
                <span>Iniciado em:</span>
                <strong>16/06/2023</strong>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end gap-1">
                <span>Entrega da Obra:</span>
                <strong>28/07/2023</strong>
                <i class="bi bi-flag-fill"></i>
            </div>
        </div>
    </article>

    <!-- cada box tem 12.5% -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=""
            aria-valuemin="0" aria-valuemax="100" style="width: calc(12.5% * 5.5)">
        </div>
    </div>
    <span class="info-time position-absolute" style="left: calc(12.5% * 5.5 - 25px);">68%</span>
</div>
