<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem</span>
        </div>

        <table class="table table-fixed table-hover tab-datatable-scroll-x" width="100%">
            <thead>
                <tr>
                    <th style="width: 200px;">Arquivo</th>
                    <th style="width: 200px;">Usuário de Cadastro</th>
                    <th style="width: 200px;">Data/Hora de Cadastro</th>

                    <th style="width: 070px;" class="no-sort text-center">Del</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a href="../../assets/app/arquivo-teste.pdf" download="arquivo-teste">arquivo-teste.pdf</a>
                    </td>
                    <td></td>
                    <td>03/07/2023 12:00:00</td>

                    <td class="text-center">
                        <a class="text-secondary" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                            <i class="bi bi-trash fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
