<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Validação Etapa 2</span>
        </div>

        <form method="post" action="">
            <div class="form-check form-check-inline">
                <label class="form-check-label gap-1">
                    <input
                        type="radio"
                        class="form-check-input"
                        name="validacao"
                        value="1"
                        checked="checked"
                    >
                    <span>Aprovado</span>
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label gap-1">
                    <input
                        type="radio"
                        class="form-check-input"
                        name="validacao"
                        value="2"
                    >
                    <span>Reprovado</span>
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label gap-1">
                    <input
                        type="radio"
                        class="form-check-input"
                        name="validacao"
                        value="3"
                    >
                    <span>Aprovado com Ressalva</span>
                </label>
            </div>

            <hr class="my-1">

            <!-- Aprovado -->
            <div id="box-aprovado" style="display: none;">
                <div class="d-flex align-items-center gap-2">
                    <i class="bi bi-check-circle-fill fs-4 text-success"></i>
                    <span>Validação OK</span>
                </div>
            </div>

            <!-- Reprovado -->
            <div id="box-reprovado" style="display: none;">
                <label class="w-100">Justificar (Reprovado):
                    <textarea name="justificativa_validacao_reprovado" class="form-control" rows="2"></textarea>
                </label>
            </div>

            <!-- Aprovado com Resalva -->
            <div id="box-aprovado-ressalva" style="display: none;">
                <label class="w-100">Justificar (Aprovado com Ressalva):
                    <textarea name="justificativa_validacao_ressalva" class="form-control" rows="2"></textarea>
                </label>
            </div>

            <button type="submit" class="btn btn-primary float-end">Salvar</button>
        </form>
    </div>
</div>

<script is:inline>
    window.addEventListener('load', function () {
        $('input[name="validacao"]').on('change', function () {
            const value = $(this).val();
            //console.log(value);

            $('#box-aprovado').toggle(value === '1');
            $('#box-reprovado').toggle(value === '2');
            $('#box-aprovado-ressalva').toggle(value === '3');
        });

        $('input[name="validacao"]:checked').trigger('change');
    });
</script>
