<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem</span>
        </div>

        <table class="table table-fixed table-hover tab-datatable-scroll-x" width="100%">
            <thead>
                <tr>
                    <th style="width: 150px;">Formato</th>
                    <th style="width: 150px;">Região</th>
                    <th style="width: 100px;">Sigla</th>
                    <th style="width: 200px;">Site</th>
                    <th style="width: 100px;">LUC</th>
                    <th style="width: 150px;">Metragem</th>
                    <th style="width: 150px;">Tipo</th>
                    <th style="width: 150px;">Situação</th>
                    <th style="width: 150px;">Contrato</th>
                    <th style="width: 250px;">Lojista</th>
                    <th style="width: 150px;" class="text-center">Criar Obra</th>
                    <th style="width: 150px;" class="text-center">Vistoria Inicial</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Atacadão</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>GRA006</td>
                    <td>1.434,57</td>
                    <td>Grandes Áreas</td>
                    <td>Ocupado</td>
                    <td>BR02220000022</td>
                    <td>SPG-SMARTFIT</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab text-app-green-600"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>CSF005</td>
                    <td>38,84</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000570</td>
                    <td>SPG-CARTAO CARREFOUR</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Todo Dia</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>DRG015</td>
                    <td>96,84</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02CRF107</td>
                    <td>SPG-DROGARIA CARREFOUR</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bom Preço</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>EST001</td>
                    <td>106,25</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000720</td>
                    <td>SPG - LAAV</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Carrefour</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>EST003</td>
                    <td>420</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000306</td>
                    <td>SPG-GLOBAL AUTO CENTER</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Carrefour Bairro</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC001</td>
                    <td>143,82</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000704</td>
                    <td>SPG-MC DONALDS</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Big*</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC002</td>
                    <td>22,34</td>
                    <td>Satélite</td>
                    <td>Vago</td>
                    <td></td>
                    <td></td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Nacional</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC003</td>
                    <td>45,79</td>
                    <td>Satélite</td>
                    <td>Vago</td>
                    <td></td>
                    <td></td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC004</td>
                    <td>35,32</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002024</td>
                    <td>SPG - BERRY BOLWS AÇAI &amp; GELATO</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC007</td>
                    <td>33,75</td>
                    <td>Satélite</td>
                    <td>Vago</td>
                    <td></td>
                    <td></td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC008</td>
                    <td>53,42</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000236</td>
                    <td>SPG-MEGA SORTE</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC009</td>
                    <td>45,17</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002085</td>
                    <td>SPG - EMPÓRIO VIA VITAL</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC009C</td>
                    <td>27,88</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002144</td>
                    <td>SPG - LAUNDROMAT</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC010</td>
                    <td>32,08</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000384</td>
                    <td>SPG - ALPS MODAS</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC011</td>
                    <td>37,47</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000352</td>
                    <td>SPG - CACAU SHOW</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC012</td>
                    <td>23,13</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002140</td>
                    <td>SPG - BINOTICA</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC013</td>
                    <td>24,15</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000855</td>
                    <td>SPG - STORE ACESSORIOS</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC014</td>
                    <td>61,21</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002137</td>
                    <td>SPG - NATURA</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC016</td>
                    <td>44,89</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000210</td>
                    <td>SPG - O BOTICÁRIO</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC017</td>
                    <td>76,6</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000481</td>
                    <td>SPG - UNIC CABELEIREIROS</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC017A</td>
                    <td>33,49</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002057</td>
                    <td>SPG - NOSTRO FUMO</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC018</td>
                    <td>41,5</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000479</td>
                    <td>SPG-BURGER KING</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC019</td>
                    <td>41,89</td>
                    <td>Satélite</td>
                    <td>Vago</td>
                    <td></td>
                    <td></td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC020</td>
                    <td>56,49</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210002055</td>
                    <td>SPG - SHAWARMA ZIZO</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC021</td>
                    <td>69,29</td>
                    <td>Satélite</td>
                    <td>Vago</td>
                    <td></td>
                    <td></td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC022</td>
                    <td>25,26</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000749</td>
                    <td>SPG - BARBEARIA SANTANA</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC023</td>
                    <td>32,54</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210001938</td>
                    <td>SPG - PET ZEUZ</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC024</td>
                    <td>35</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000820</td>
                    <td>SPG - WESTERN UNION</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC025</td>
                    <td>53,52</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000830</td>
                    <td>SPG-D´PIL</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC026</td>
                    <td>19,68</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210000700</td>
                    <td>SPG - FRESH COCO</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC028</td>
                    <td>0</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210001811</td>
                    <td>SPG-BIJOUX NOW</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Sam's</td>
                    <td></td>
                    <td>SPG</td>
                    <td>HIPER GIOVANI GRONCHI</td>
                    <td>LUC029</td>
                    <td>97,75</td>
                    <td>Satélite</td>
                    <td>Ocupado</td>
                    <td>BR02210001941</td>
                    <td>SPG - LOCALIZA</td>

                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Criar Obra"
                            href="./popups/obra/">
                            <i class="bi bi-buildings-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a
                            class="text-secondary"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            data-bs-toggle="tooltip"
                            data-bs-title="Vistoria Inicial"
                            href="./popups/vistoria/">
                            <i class="bi bi-clipboard2-check-fill fs-5 icon-tab"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
