---
---

<div class="card">
    <div class="card-body">
        <div class="section-title align-items-center justify-content-between gap-2">
            <span class="title">Seleção</span>
            <a
                class="btn btn-sm btn-success mb-1"
                data-fancybox
                data-type="iframe"
                data-width="1200"
                data-height="600"
                href="./popup/"> + Novo Pavimento
            </a>

            <!-- <a
            class="btn btn-sm btn-success mb-1"

            href="./popup/"> + Novo Pavimento
        </a> -->

        </div>

        <form method="" action="">
            <section class="row">
                <label class="col-xl-2 col-lg-2 col-md-6 col-sm-6">Tipo:
                    <select class="form-select" name="" id="" required>
                        <option value=""></option>
                        <option value="1">Sam's</option>
                        <option value="2">Todo Dia</option>
                        <option value="3">Bom Preço</option>
                        <option value="4">Carrefour</option>
                        <option value="5">Atacadão</option>
                        <option value="6">Carrefour Bairro</option>
                        <option value="7">Big*</option>
                        <option value="8">Nacional</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-2 col-md-6 col-sm-6">Região:
                    <select class="form-select" name="" id="" required>
                        <option value=""></option>
                        <option value="1">Região 1</option>
                        <option value="2">Região 2</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-3 col-md-6 col-sm-6">Cidade:
                    <select class="form-select" name="" id="" required>
                        <option value=""></option>
                        <option value="1">São Paulo</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-3 col-md-6 col-sm-6">Site:
                    <select class="form-select" name="" id="" required>
                        <option value=""></option>
                        <option value="1">HIPER GIOVANI GRONCHI</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-3 col-md-6 col-sm-6">Pavimento:
                    <select name="pavimento" class="selectpicker" multiple data-actions-box="true" data-live-search="true"
                        data-width="100%" required>
                        <option value="1">Pavimento 1</option>
                        <option value="2">Pavimento 3</option>
                        <option value="3">Pavimento 2</option>
                    </select>
                </label>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                    <div class="label-clearfix last-lg"></div>
                    <button type="submit" class="btn btn-primary btn-last-xl">Ok</button>
                </div>
            </section>
        </form>
    </div>
</div>
