---
import Header from '../../../includes/Header.astro';
import Layout from '../../../layouts/Layout.astro';

import Nav from '../Nav.astro';
import CardSelecao from './CardSelecao.astro';
import Card1 from './Card1.astro';
import Card2 from './Card2.astro';
import Card3 from './Card3.astro';
---

<Layout>
    <header class="header-app">
        <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-app-purple-400 py-1">
            <section class="container-fluid">
                <div class="d-flex flex-column w-100">
                    <Header />
                    <Nav />
                </div>
            </section>
        </nav>
    </header>

    <main class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <div class="card card-body">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/principal/"><i class="bi bi-house-fill"></i></a>
                        </li>
                        <li class="breadcrumb-item">Lojas Galerias</li>
                        <li class="active breadcrumb-item" aria-current="page">Planta Galeria</li>
                    </ol>
                </div>
            </nav>
        </section>

        <section class="container-fluid">
            <CardSelecao />
            <Card1 />
            <Card2 />
            <Card3 />
        </section>
    </main>

    <style is:inline>
        .btn-zoom{
            color: #fff;
            text-decoration: none;
            transition: all 0.3s;
        }
        .btn-zoom:hover{
            color: #222;
        }
    </style>

    <script is:inline>
        addEventListener('load', () => {
            $(".tab-datatable-planta").DataTable({
                order: [[0, "asc"]],
                ordering: true,
                paging: true,
                info: true,
                scrollX: true,
                scrollCollapse: true,

                lengthMenu: [
                    [10, -1],
                    [10],
                ],

                columnDefs: [
                    {
                        targets: "no-sort",
                        orderable: false,
                    },
                ],

                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json",
                },
            });

            $('[data-row="delete"]').click(function () {
                if (!confirm("Você tem certeza que deseja excluir?")) {
                    return false;
                }
            });
        })
    </script>
</Layout>
