---
import Header from '../../../includes/Header.astro';
import Layout from '../../../layouts/Layout.astro';

import Nav from '../nav.astro';
---

<Layout>
    <header class="header-app">
        <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-app-purple-400 py-1">
            <section class="container-fluid">
                <div class="d-flex flex-column w-100">
                    <Header />
                    <Nav />
                </div>
            </section>
        </nav>
    </header>

    <main class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <div class="card card-body">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/principal/"><i class="bi bi-house-fill"></i></a>
                        </li>
                        <li class="breadcrumb-item">Lojas Galerias</li>
                        <li class="active breadcrumb-item" aria-current="page">Planta Galeria</li>
                    </ol>
                </div>
            </nav>
        </section>

        <section class="container-fluid">

        </section>
    </main>
</Layout>
