<div class="navbar-collapse offcanvas-collapse navbar-dark bg-app-purple-400 h-100" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/principal/">Principal</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/lojas-galerias/planta-galeria/">Planta Galeria</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/lojas-galerias/evento-temporario/">Evento Temporário</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/lojas-galerias/loja/">Loja</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/lojas-galerias/quiosque/">Quiosque</a>
        </li>

        <!-- Inicio Obras -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-auto-close="false">
                Obras
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/lojas-galerias/obras/pasta-tecnica/">Pasta Técnica</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/lojas-galerias/obras/docs-up-load">Docs Up Load</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/lojas-galerias/obras/obras-arquivos/">Arquivos Obras</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/lojas-galerias/obras/timeline/">Time Line</a>
                </li>
            </ul>
        </li>
        <!-- Fim Obras -->

        <li class="nav-item">
            <a class="nav-link" href="/lojas-galerias/cad-luc/">Cadastro Luc</a>
        </li>
    </ul>
</div>
