---
import Head from '@includes/Head.astro';
import Container from "@components/Container.astro";
import AppCards from './AppCards.astro';
import StarCount from '@components/StarCount.astro';

const response = await fetch(
    "https://official-joke-api.appspot.com/random_ten"
)
const data = await response.json()
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body>
        <main class="main-app">
            <Container>
                <StarCount />

                <hr />

                <ul class="list-group list-unstyled">
                    {
                        data.map((item: any) => {
                            return (
                                <AppCards
                                url='#'
                                id={item.id}
                                setup={item.setup} />
                            )
                        })
                    }
                </ul>
            </Container>
        </main>
    </body>
</html>
