<div class="card">
    <div class="card-body">
        <section class="row">
            <label class="col-xl-4 col-lg-6 col-md-6">3. Número do documento que autorize o serviço:
                <input type="text" name="" class="form-control" placeholder="(Ordem de compra (OC), contrato, etc.)">
            </label>

            <label class="col-xl-4 col-lg-6 col-md-6">3.1. Horário (Preencher o horário do serviço):
                <input type="time" name="" class="form-control" placeholder="PREENCHER O HORÁRIO DO SERVIÇO">
            </label>

            <label class="col-xl-4 col-lg-12 col-md-12">3.2. Departamento/ Setor/ Local que realizado o serviço:
                <input type="text" name="" class="form-control" placeholder="INFORMAR O LOCAL QUE SERÁ REALIZADO O SERVIÇO, EX: LOJA DE DOCES_LUC000">
            </label>

            <label class="col-xl-4 col-lg-6 col-md-6">3.3. Data de início dos serviços contratados:
                <input type="date" name="" class="form-control">
            </label>

            <label class="col-xl-4 col-lg-6 col-md-6">3.4. Data prevista para fim dos serviços contratados:
                <input type="date" name="" class="form-control">
            </label>

            <div class="col-12">
                (PRAZO MÁXIMO DE 30 DIAS CORRIDOS. EX: 06/12/21 ATÉ 06/01/22)
            </div>
        </section>
    </div>
</div>
