<div class="card">
    <div class="card-body">
        <p class="mb-1">
            2. Tipo de Trabalho Perigo (Assinale “X” caso os trabalhos a serem desenvolvidos envolvam um dos trabalhos abaixo)
        </p>

        <section class="row mb-2">
            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>a. ALTURA (> 2 m)</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>b. ELÉTRICO</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>c. ESPAÇO CONFINADO</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>d. TRABALHO, A QUENTE</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>e. TRABALHO DE ESCAVAÇÃO</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>f. TRABALHO COM MOVIMENTAÇÃO DE CARGA</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>g. QUÍMICOS PERIGOSOS</span>
            </label>

            <label class="d-flex align-items-baseline gap-1 col-lg-4 col-md-6">
                <input type="checkbox" name="">
                <span>h. FRIO</span>
            </label>
        </section>

        <label class="d-flex align-items-baseline gap-1">
            <input type="checkbox" name="">
            <span>
                2.1. Assinalar “X” caso o trabalho a ser desenvolvido não envolva trabalho perigoso:
                <small>(ASSINALAR SOMENTE SE A ATIVIDADE NÃO TIVER RISCO. NECESSÁRIO DESCREVER A ATIVIDADE QUE SERÁ REALIZADA)</small>
            </span>
        </label>

        <label class="w-100">OUTRO TIPO DE TRABALHO (DESCREVER):
            <textarea
                name=""
                class="form-control"
                rows="2">
            </textarea>
        </label>

    </div>
</div>
