<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Prevenção</span>
        </div>

        <form method="" action="">
            <section class="row">
                <label class="col-xl-4 col-lg-6 col-md-8 col-sm-12">Selecione a Disciplina:
                    <select name="disciplina" class="form-select" required>
                        <option value="1">[Arquitetura] - PROJETO AQUITETURA / Laudo</option>
                        <option value="2">[Ar Condicionado] - ART / RRT EXECUÇÃO</option>
                    </select>
                </label>

                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                    <div class="label-clearfix last-md"></div>
                    <button type="submit" class="btn btn-primary btn-last-md" data-btn="ok">Ok</button>
                </div>
            </section>
        </form>
    </div>
</div>
