<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem</span>
        </div>

        <div class="table-responsive" style="max-height: 300px">
            <table class="table text-center table-fixed table-hover fixThead">
                <thead>
                    <tr>
                        <th style="width: 200px">Disciplina</th>
                        <th style="width: 300px">Empresa Contratada</th>
                        <th style="width: 070px">Validação</th>
                        <th style="width: 070px">Edit</th>
                        <th style="width: 070px">Del</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>

                        <td class="text-center">
                            <a
                                class="fs-5 text-success"
                                data-bs-toggle="tooltip"
                                data-bs-title="Validação"
                                data-fancybox=""
                                data-type="iframe"
                                data-width="1200"
                                data-height="600"
                                href="./popups/validacao/"
                            >
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-secondary" data-bs-toggle="tooltip" data-bs-title="Edit" href="#">
                                <i class="bi bi-pencil-square fs-5 icon-tab"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-secondary" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                                <i class="bi bi-trash fs-5 icon-tab"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
