---
import TitleCard from '@components/TitleCard.astro';
import Card from '@components/Card.astro';
---

<Card>
    <TitleCard label='Documentos' />

    <div class="table-responsive" style="max-height: 300px;">
        <table class="table text-center table-fixed fixThead">
            <thead>
                <tr>
                    <th style="width: 300px;">Arquivo</th>
                    <th style="width: 200px;">Usuário</th>
                    <th style="width: 150px;">Alteração</th>
                    <th style="width: 100px;">Del</th>
                </tr>
            </thead>

            <tbody>
                <slot />
            </tbody>
        </table>
    </div>
</Card>
