<div class="table-responsive">
    <table class="table text-center table-fixed table-hover">
        <thead>
            <tr>
                <th style="width: 200px" class="text-start">Disciplina</th>
                <th style="width: 100px">APR</th>
                <th style="width: 100px">EPI</th>
                <th style="width: 100px">ASO</th>
                <th style="width: 100px">NR's</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-start">PROJETO AQUITETURA / Laudo</td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-warning text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Aprovado com Ressalva"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valRessalvaNa">
                            <i class="bi bi-check-circle-fill"></i>
                        </a>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-success text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Aprovado"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valOkNa">
                            <i class="bi bi-check-circle-fill"></i>
                        </a>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-success text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="NA"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valNa">
                            <i class="bi bi-check-circle-fill text-app-gray-600"></i>
                        </a>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-app-gray-500 text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Aguardando Validação"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valNullNa">
                            <i class="bi bi-hourglass-split text-warning"></i>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-start">Ar Condicionado</td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-success text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Aprovado"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valOkNa">
                            <i class="bi bi-check-circle-fill"></i>
                        </a>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-success text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Aprovado"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valOkNa">
                            <i class="bi bi-check-circle-fill"></i>
                        </a>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-danger text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Reprovado"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valReprovadoNa">
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        </a>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a
                            class="fs-5 text-primary text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Documentos"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/documentos/">
                            <i class="bi bi-filter-square"></i>
                        </a>

                        <a
                            class="fs-5 text-app-gray-500 text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-title="Aguardando Validação"
                            data-fancybox
                            data-type="iframe"
                            data-width="1200"
                            data-height="600"
                            href="./popups/validacao/valNullNa">
                            <i class="bi bi-hourglass-split text-warning"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
