<p class="mb-2">
    DECLARO QUE EXECUTAREI AS OBRAS DE REFORMAS DA ÁREA QUE SERÁ INSTALADA MINHA LOJA,
    DENOMINADA SHELL, DENTRO DAS NORMAS BRASILEIRAS REGULAMENTADORAS* VIGENTES E
    INSTRUÇÕES TÉCNICAS DO CORPO DE BOMBEIROS DA MINHA REGIÃO, POR
    EMPRESA/PROFISSIONAL QUALIFICADOS, COM SEU ACOMPANHAMENTO, RECOLHENDO AS
    ART´s/RRT´s NECESSÁRIAS ENVIADAS PARA APROVAÇÃO DO CORPO TECNICO DO GRUPO.
    (Inserir na ART/RRT´s endereço da obra, onde ocorrerá realmente a obra, inserir as atividades
    pertinentes a execução).
</p>

<label class="w-100">
    1 - DESCRIÇÃO RESUMIDA DAS ATIVIDADES QUE EXECUTAREI:
    <textarea name="" class="form-control" rows="4"></textarea>
</label>

<p class="mb-2">
    2 - POSSUO CIÊNCIA DA RESPONSABILIDADE NO ENVIO DOS DOCUMENTOS DE SAÚDE E
    SEGURANÇA NO TRABALHO (S.S.T.) PARA LIBERAÇÃO DO INÍCIO DAS OBRAS DE REFORMA.
    PRINCIPAIS NR´S A SEREM RESPEITADAS: NR 6 | NR 8 | NR 10 | NR 12 | NR 18 | NR 35
</p>

<p class="mb-2">
    3 - AS FACHADAS VOLTADAS PARA O MALL (AREA DE USO COMUM) TERÃO QUE MANTER A
    PADRONIZAÇÃO EXIGIDA PELO GRUPO (contatar a área técnica de aprovação).
</p>

<p class="mb-2">
    4 - FICA VEDADA QUALQUER INTERVENÇÃO NA FACHADA PRINCIPAL DA LOJA DO GRUPO SEM
    PREVIA APROVAÇÃO DA EQUIPE TÉCNICA.
</p>

<p class="mb-2">
    5 - FICA PROIBIDA A UTILIZAÇÃO COMO APOIO OU ESTRUTURAL, DAS PAREDES LIMITROFES,
    SUPER ESTRUTURA E ESTRUTURA DA COBERTURA EXISTENTES DO GRUPO, PARA INSTALAÇÕES
    DA NOVA LOJA. NECESSÁRIO ESTRUTURA OU PAREDE AUXILIAR.
</p>

<p class="mb-2">
    6 - FICA PROIBIDO INTERLIGAR A REDE DE ESGOTO NA REDE DE ÁGUA PLUVIAL (QUANDO NECESSÁRIO).
</p>

<p class="mb-2">
    <strong>
        7 - É DE OBRIGAÇÃO DO LOJISTA A EXECUÇÃO DAS INSTALAÇÕES DE ELÉTRICAS INTERNAS EM
        SUA LOJA, INSTALAÇÃO DO Q.G., DJ´S, DR´s, E DISTRIBUIÇÃO INTERNA DE SUA REDE ELÉTRICA
        CONFORME NR 10 – NR 6.
    </strong>
</p>

<p class="mb-2">
    <strong>
        8 - FICA ACORDADO QUE O JOGO DE PROJETOS, DE ACORDO COM A INTERVENÇÃO DESCRITA
        NO ITEM 1 e ART´s/RRT´s, SERÁ ENVIADO COMO `AS BUILT´, ATÉ 30 DIAS APÓS A
        INAUGURAÇÃO DA LOJA, PARA O DEPARTAMENTO RESPONSÁVEL DO GRUPO BIG.
    </strong>
</p>

<p class="mb-2">
    9 - A LIBERAÇÃO DO INÍCIO DAS OBRAS SE DERÁ ATRAVÉS DE EMAIL A TODOS ENVOLVIDOS E
    ESTÁ CONDICIONADA A APRESENTAÇÃO E APROVAÇÃO DAS DOCUMENTAÇÕES ABAIXO
    RELACIONADAS, QUE NECESSITAM SERM ENVIADAS PARA ANÁLISE.
</p>

<p class="mb-2">
<ul>
    <li>
        9.1 – ART´s | RRT´s - <small>(Inserir na ART/RRT´s endereço da obra, onde ocorrerá realmente a obra,
            inserir
            as atividades pertinentes ao serviço que será executado, em caso de dúvidas contate o depto
            técnico)</small>
    </li>
    <li>9.2 – DECLARAÇÃO DE RESPONSABILIDADE E SOLICITAÇÃO DE ANÁLISE DE PROEJTOS ASSINADA DIGITALMENTE OU
        MANUSCRITA.</li>
    <li>9.3 – DOCUMENTOS DE SAUDE E SEGURANÇA NO TRABALHO.</li>
    <li>9.4 – RELATÓRIO FOTOGRAFICO DO ESPAÇO A SER INSERIDA A LOJA.</li>
    <li>9.5 – PROJETO ARQUITETONICO COMPLETO.</li>
</ul>
</p>

<p class="mb-2">
    <strong>
        10 - RESSALTA-SE QUE AS OBRAS CASO INICIADAS ANTES DA APRESENTAÇÃO DA
        DOCUMENTAÇÃO COMPLETA, SEM A FORMALIZAÇÃO DA APROVAÇÃO, E/OU, COM ALGUMA
        RESTRIÇÃO DOCUMENTAL APONTADA, PODEM SER SOLICITADA SUA PARALISAÇÃO
        IMEDIATA E O LOJISTA SE SUJEITA A
    </strong>
</p>

<p class="mb-2">
    11 – ME COMPROMETO A ENVIAR RELATÓRIO FOTOGRÁFICO DO PÓS-OBRA PELO SISTEMA INTRANETMALLS.<br>
    POR ESTAR CIENTE E DE ACORDO COM AS INFORMAÇÕES ACIMA DESCRITAS, ASSINO ABAIXO:
</p>

<div class="form-check mt-2">
    <div class="float-end">
        <input class="form-check-input" type="checkbox" id="inlineFormCheck" required>
        <label class="form-check-label" for="inlineFormCheck">
            <h6 class="mb-0"><strong>Confirmo que li os termos acima</strong></h6>
        </label>
    </div>
</div>
