<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Documentos</span>
        </div>

        <div class="table-responsive" style="max-height: 300px;">
            <table class="table text-center table-fixed fixThead">
                <thead>
                    <tr>
                        <th style="width: 100px;">Data</th>
                        <th style="width: 100px;">Usuário</th>
                        <th style="width: 100px;">Hora</th>
                        <th style="width: 250px;">Arquivo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex flex-column">
                                <form method="POST" action="">
                                    <a class="lh-1 text-decoration-none fs-4 text-success" download="" href="./assets/docs/timeline/SPA-KMP-RVIT-O BOTICARIO-R00.pdf">
                                        <i class="bi bi-cloud-arrow-down-fill"></i>
                                    </a>
                                </form>

                                <span class="lh-1">03/08/2023</span>
                            </div>
                        </td>

                        <td>Mirian Segantin</td>
                        <td>03:23:08</td>

                        <td>
                            <form method="POST" action="">
                                <a href="./assets/docs/timeline/SPA-KMP-RVIT-O BOTICARIO-R00.pdf" target="_blank">
                                    SPA-KMP-RVIT-O BOTICARIO-R00.pdf
                                </a>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
