---
import Head from '@includes/Head.astro';

import ContentUpload from '@components/Uploads/UploadSave.astro';
import ContentTable from '@components/Tables/DataUsuarioHoraArquivo.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <span class="title">Vistoria Intermediária</span>
                </div>
            </div>
        </div>

        <ContentUpload />
        <ContentTable
            complementoTitulo=""
            linkArquivo="/assets/docs/timeline/6/SPA-KMP-RVIT-O BOTICARIO-R00.pdf"
            icon="bi bi-cloud-arrow-down-fill"
            data="07/08/2023"
            usuario="Mirian Segantin"
            hora="11:23:08"
            nomeArquivo="SPA-KMP-RVIT-O BOTICARIO-R00.pdf"
        />
    </body>
</html>
