<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Validações</span>
        </div>

        <div class="table-responsive" style="max-height: 300px;">
            <table class="table text-center table-fixed fixThead">
                <thead>
                    <tr>
                        <th style="width: 50px;">Status</th>
                        <th style="width: 100px;">Data</th>
                        <th style="width: 200px;">Validador</th>
                        <th style="width: 250px;">Justificativa</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip"
                                data-bs-title="Aprovado">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                        <td>13/08/2023 19:14:00</td>
                        <td>Mirian Segantin</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
