---
import Head from '../../../../../../../../includes/Head.astro';
import '../../../../../../../../sass/imports.scss'

import ContentValidacao from './ContentValidacao.astro';
import ContentListagem from './ContentListagem.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentValidacao />
        <ContentListagem />
    </body>
</html>
