<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Vistoria Inicial</span>
        </div>

        <table class="table table-fixed table-hover">
            <thead>
                <tr>
                    <th style="width: 200px;">Arquivo</th>
                    <th style="width: 200px;">Data/Hora de Cadastro</th>
                    <th style="width: 200px;">Usuário Download</th>
                    <th style="width: 200px;">Data/Hora Download</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <a href="/assets/docs/arquivo-teste.pdf" download="arquivo-teste">arquivo-teste.pdf</a>
                    </td>
                    <td>07/08/2023 12:00:00</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
