---
import Head from '../../../../../../includes/Head.astro';

import '../../../../../../sass/imports.scss'
import ContentListagem from './ContentListagem.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentListagem />
    </body>
</html>
