---
import Head from '@includes/Head.astro';

import ContentListagem from './ContentListagem.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <ContentListagem />
    </body>
</html>
