---
import Head from '@includes/Head.astro';
import Validacao from '@components/Validacoes/ValidacaoNullNa.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">

        <Validacao
            complementoTituloValidacao=""
            complementoTituloValidacoes=""
        />
    </body>
</html>
