---
import Head from '@includes/Head.astro';
import List from '@layouts/List.astro';
import Row from './Row.astro';

const dataList = [
    {
        "linkArquivo": "#",
        "nomeArquivo": "1",
        "usuario": "1",
        "alteracao": "1",
    },
    {
        "linkArquivo": "#",
        "nomeArquivo": "2",
        "usuario": "2",
        "alteracao": "2",
    }
]
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body>
        <main class="main-app">
            <List>
                {
                    dataList.map((item) => {
                        return (
                            <Row
                                linkArquivo={item.linkArquivo}
                                nomeArquivo={item.nomeArquivo}
                                usuario={item.usuario}
                                alteracao={item.alteracao}
                            />
                        )
                    })
                }
            </List>
        </main>
    </body>
</html>
