---
import Head from '@includes/Head.astro';
import Container from '@components/Container.astro';
import List from './List.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body>
        <main class="main-app">
            <Container>
                <List />
            </Container>
        </main>
    </body>
</html>
