<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Seleção</span>
        </div>

        <form method="" action="">
            <section class="row">
                <label class="col-xl-2 col-lg-4 col-md-6 col-sm-6">Formato:
                    <select name="formato" class="selectpicker" multiple data-actions-box="true" data-live-search="true"
                        data-width="100%" required>
                        <option value="1">Formato 1</option>
                        <option value="2">Formato 3</option>
                        <option value="3">Formato 2</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-4 col-md-6 col-sm-6">Site:
                    <select name="site" class="selectpicker" multiple data-actions-box="true" data-live-search="true"
                        data-width="100%" required>
                        <option value="1">Site 1</option>
                        <option value="2">Site 3</option>
                        <option value="3">Site 2</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-4 col-md-6 col-sm-6">Sigla:
                    <select name="sigla" class="selectpicker" multiple data-actions-box="true" data-live-search="true"
                        data-width="100%" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-4 col-md-6 col-sm-6">Luc:
                    <select name="luc" class="selectpicker" multiple data-actions-box="true" data-live-search="true"
                        data-width="100%" required>
                        <option value="1">Luc 1</option>
                        <option value="2">Luc 3</option>
                        <option value="3">Luc 2</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-4 col-md-6 col-sm-6">Lojista:
                    <select name="lojista" class="selectpicker" multiple data-actions-box="true" data-live-search="true"
                        data-width="100%" required>
                        <option value="1">Lojista 1</option>
                        <option value="2">Lojista 3</option>
                        <option value="3">Lojista 2</option>
                    </select>
                </label>

                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="label-clearfix last-sm"></div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
