<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Cadastro de Obras</span>
        </div>

        <form method="" action="" id="form_detail">
            <section class="row">
                <label class="col-lg-4 col-md-6 col-sm-6">Nome da Obra:
                    <input type="text" name="nome_obra" class="form-control" required>
                </label>

                <label class="col-lg-2 col-md-6 col-sm-6">É Reforma?
                    <select class="form-select" name="reforma" required>
                        <option value=""></option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </label>

                <label class="col-lg-3 col-md-6 col-sm-6">Nome do Responsável:
                    <input type="text" name="nome_fornecedor" class="form-control" required>
                </label>

                <label class="col-lg-3 col-md-6 col-sm-6">Email do Responsável:
                    <input type="email" name="email_fornecedor" class="form-control" required>
                </label>

                <label class="col-lg-6 col-md-6 col-sm-9">Selecione os arquivos para Boas Vindas:
                    <select name="tipo" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-width="100%"
                        required>
                        <option value="1">Satelites</option>
                        <option value="2">Âncoras</option>
                        <option value="3">Stan Alone</option>
                    </select>
                </label>

                <div class="col-lg-6 col-md-6 col-sm-3">
                    <div class="label-clearfix last-sm"></div>
                    <button type="submit" class="btn btn-primary float-end">Cadastrar</button>
                </div>
            </section>
        </form>
    </div>
</div>
