<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Etapa 1 - Documentos Iniciais</span>
        </div>

        <div class="table-responsive" style="max-height: 300px;">
            <table class="table text-center table-fixed fixThead">
                <thead>
                    <tr>
                        <th style="width: 200px;">Área</th>
                        <th style="width: 300px;">Nome do Documento</th>
                        <th style="width: 200px;">Responsável</th>
                        <th style="width: 250px;" class="text-center">Documento</th>
                        <th style="width: 100px;" class="text-center">Validação</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td rowspan="2" class="border-end">Arquitetura</td>
                        <td>PROJETO AQUITETURA / Laudo</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a
                                class="fs-5 text-success"
                                data-bs-toggle="tooltip"
                                data-bs-title="Documento"
                                data-fancybox=""
                                data-type="iframe"
                                data-width="1200"
                                data-height="600"
                                href="./popups/etapa1/documento/"
                            >
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a
                                class="fs-5 text-success"
                                data-bs-toggle="tooltip"
                                data-bs-title="Validação"
                                data-fancybox=""
                                data-type="iframe"
                                data-width="1200"
                                data-height="600"
                                href="./popups/etapa1/validacao/"
                            >
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>ART / RRT PROJETOS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="fs-5 text-app-gray-500" data-bs-toggle="tooltip" data-bs-title="Documento" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/documento/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/validacao/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td rowspan="3" class="border-end">Obras</td>
                        <td>SEGURO DE OBRAS</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/documento/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/validacao/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>CRONOGRAMA</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <div class="d-flex justify-content-center gap-2">
                                <a class="text-decoration-none fs-5 text-primary" data-bs-toggle="tooltip" data-bs-title="Download Modelo" download="" href="">
                                    <i class="bi bi-file-earmark-arrow-down-fill"></i>
                                </a>

                                <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento" data-fancybox=""
                                    data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/documento/">
                                    <i class="bi bi-check-circle-fill"></i>
                                </a>

                                <a class="text-decoration-none fs-5 text-primary" data-bs-toggle="tooltip" data-bs-title="Preencher informações" data-fancybox=""
                                    data-type="iframe" data-width="1200" data-height="370" href="./popups/etapa1-info/">
                                    <i class="bi bi-filter-square"></i>
                                </a>
                            </div>
                        </td>

                        <td class="text-center">
                            <a class="text-decoration-none fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/validacao/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>

                    <tr class="row-striped">
                        <td>ART / RRT EXECUÇÃO</td>
                        <td>Lojista</td>

                        <td class="text-center">
                            <a class="fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Documento" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/documento/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Validação" data-fancybox=""
                                data-type="iframe" data-width="1200" data-height="600" href="./popups/etapa1/validacao/">
                                <i class="bi bi-check-circle-fill"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
