---
import Head from '@includes/Head.astro';

import ContentListagem1 from './ContentListagem1.astro';
import ContentListagem2 from './ContentListagem2.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <ContentListagem1 />
        <ContentListagem2 />
    </body>
</html>
