---
import Head from '../../../../../../../includes/Head.astro';
import '../../../../../../../sass/imports.scss';

import ContentTabs from '../ContentTabs.astro';
import ContentTitle from '../ContentTitle.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentTitle />
        <ContentTabs />

        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <span class="title">Disparar email</span>
                </div>

                <form action="" method="post">
                    <a class="btn btn-primary" href="/lojas-galerias/obras/timeline-selecionada/popups/timeline-2/tab2/">
                        <i class="bi bi-envelope"></i>
                        Enviar email Boas Vindas
                    </a>
                </form>
            </div>
        </div>
    </body>
</html>
