<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem</span>
        </div>

        <div class="table-responsive" style="max-height: 300px;">
            <table class="table text-center table-fixed fixThead">
                <thead>
                    <tr>
                        <th style="width: 300px;">Arquivo</th>
                        <th style="width: 200px;">Usuário</th>
                        <th style="width: 150px;">Alteração</th>
                        <th style="width: 100px;">Del</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <a href="/assets/docs/arquivo-teste.pdf" download="">
                                arquivo-teste.pdf
                            </a>
                        </td>
                        <td>Mirian Segantin</td>
                        <td>07/08/2023 15:34:05</td>
                        <td>
                            <a class="text-secondary" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                                <i class="bi bi-trash fs-5 icon-tab"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
