---
import Head from '../../../../../../../includes/Head.astro';
import '../../../../../../../sass/imports.scss';

import ContentTabs from '../ContentTabs.astro';
import ContentTitle from '../ContentTitle.astro';
---

<!DOCTYPE html>
<html lang="en">
    <Head />

    <body class="body-popup">
        <ContentTitle />
        <ContentTabs />

        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <span class="title">Disparar email</span>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="section-title">
                            <span class="title">Arquivos Boas Vindas</span>
                        </div>

                        <div class="table-responsive" style="max-height: 300px;">
                            <table class="table text-center table-fixed table-hover fixThead">
                                <thead>
                                    <tr>
                                        <th style="width: 200px;">Arquivo</th>
                                        <th style="width: 200px;">Data/Hora de Cadastro</th>
                                        <th style="width: 200px;">Usuário Download</th>
                                        <th style="width: 200px;">Data/Hora Download</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="/assets/arquivo-teste.pdf" download="arquivo-teste">arquivo-teste.pdf</a>
                                        </td>
                                        <td>03/07/2023 12:00:00</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
