<div class="card h-100">
    <div class="card-body">
        <h5 class="text-center">RANKING VACÂNCIA POR CONSULTORES (Qnt. Luc vaga)</h5>

        <div class="table-responsive">
            <table class="table table-fixed text-center">
                <thead>
                    <tr>
                        <th style="width: 150px;">Consultor</th>
                        <th style="width: 100px;">Abl Total</th>
                        <th style="width: 100px;">Abl Vaga</th>
                        <th style="width: 100px;"># Luc Total</th>
                        <th style="width: 100px;"># Luc Vaga</th>
                        <th style="width: 150px;">% Vacância Abl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vinícius Baur</td>
                        <td>21.262</td>
                        <td>6.885</td>
                        <td>295</td>
                        <td>96</td>
                        <td>32,4%</td>
                    </tr>
                    <tr>
                        <td>Jeane Ferreira</td>
                        <td>57.637</td>
                        <td>3.436</td>
                        <td>610</td>
                        <td>79</td>
                        <td>6,0%</td>
                    </tr>
                    <tr>
                        <td>VAGO</td>
                        <td>40.636</td>
                        <td>2.610</td>
                        <td>358</td>
                        <td>48</td>
                        <td>6,4%</td>
                    </tr>
                    <tr>
                        <td>Alessandro Melo</td>
                        <td>38.555</td>
                        <td>4.849</td>
                        <td>269</td>
                        <td>45</td>
                        <td>12,6%</td>
                    </tr>
                    <tr>
                        <td>Audrey Justino</td>
                        <td>23.776</td>
                        <td>3.345</td>
                        <td>253</td>
                        <td>44</td>
                        <td>14,1%</td>
                    </tr>
                    <tr>
                        <td>Ana Paula Bueno</td>
                        <td>48.639</td>
                        <td>2.339</td>
                        <td>257</td>
                        <td>41</td>
                        <td>4,8%</td>
                    </tr>
                    <tr>
                        <td>Luis Marques</td>
                        <td>33.967</td>
                        <td>4.019</td>
                        <td>264</td>
                        <td>36</td>
                        <td>11,8%</td>
                    </tr>
                    <tr>
                        <td>Anderson Carlos</td>
                        <td>30.959</td>
                        <td>2.090</td>
                        <td>233</td>
                        <td>36</td>
                        <td>6,7%</td>
                    </tr>
                    <tr>
                        <td>Débora Paulino</td>
                        <td>28.312</td>
                        <td>1.759</td>
                        <td>197</td>
                        <td>34</td>
                        <td>6,2%</td>
                    </tr>
                    <tr>
                        <td>Cintia Costabile</td>
                        <td>26.650</td>
                        <td>4.212</td>
                        <td>151</td>
                        <td>33</td>
                        <td>15,8%</td>
                    </tr>
                    <tr>
                        <td>Cris Kelly</td>
                        <td>31.796</td>
                        <td>3.247</td>
                        <td>123</td>
                        <td>31</td>
                        <td>10,2%</td>
                    </tr>
                    <tr>
                        <td>Marcos Silva</td>
                        <td>15.016</td>
                        <td>1.430</td>
                        <td>155</td>
                        <td>29</td>
                        <td>9,5%</td>
                    </tr>
                    <tr>
                        <td>Celso Figueiredo</td>
                        <td>60.456</td>
                        <td>1.963</td>
                        <td>171</td>
                        <td>29</td>
                        <td>3,2%</td>
                    </tr>
                    <tr>
                        <td>N/A</td>
                        <td>488</td>
                        <td>0</td>
                        <td>6</td>
                        <td>0</td>
                        <td>0,0%</td>
                    </tr>
                    <tr class="fw-bold">
                        <td></td>
                        <td>458.149</td>
                        <td>42.183</td>
                        <td>3.342</td>
                        <td>581</td>
                        <td>9,21%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

