---
import '@assets/sass/imports.scss'

// Includes Imports
import Head from '@includes/Head.astro';
import Footer from '@includes/Footer.astro';
import BtnScrollToTop from '@components/BtnScrollToTop.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <Head />
	</head>

	<body>
		<slot />
		<Footer />
        <BtnScrollToTop />
	</body>
</html>

<style is:global>
</style>
