<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Pendências da Vistoria Final</span>
        </div>

        <label class="d-flex align-items-baseline gap-1">
            <input type="checkbox" name="" checked="checked" class="check-pendencias" onclick="return false;">
            <span>Exaustão</span>
        </label>

        <label class="d-flex align-items-baseline gap-1">
            <input type="checkbox" name="" checked="checked" class="check-pendencias" onclick="return false;">
            <span>Gás</span>
        </label>

        <div class="section-title mt-3">
            <span class="title">Anexe aqui as pendências regularizadas</span>
        </div>

        <div class="d-flex gap-2">
            <a
                class="text-decoration-none fs-5 text-primary"
                data-bs-toggle="tooltip"
                data-bs-title="Documentos"
                data-fancybox=""
                data-type="iframe"
                data-width="1200"
                data-height="600"
                href="./popups/documentos/table-final">
                <i class="bi bi-filter-square"></i>
            </a>

            <a
                class="text-decoration-none fs-5 text-success"
                data-bs-toggle="tooltip"
                data-bs-title="Validação"
                data-fancybox=""
                data-type="iframe"
                data-width="1200"
                data-height="600"
                href="./popups/validacao/valOk">
                <i class="bi bi-check-circle-fill"></i>
            </a>
        </div>
    </div>
</div>
