<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Processo de Parametrização</span>
        </div>

        <label class="d-flex align-items-baseline gap-1">
            <input type="checkbox" name="">
            <span>Marque aqui se foi concluído o processo de parametrização dos medidores.</span>
        </label>
    </div>
</div>
