.header-app{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}
.header-app .navbar-brand img {
    max-width: 110px;
}

.header-app .navbar-collapse.offcanvas-collapse{
    margin-top: 0.5rem;
    border-top: 1px solid rgb(153, 153, 153);
}

.header-app .nav-item.dropdown.active > .nav-link.dropdown-toggle{
    color: #fff;
}
.header-app .dropdown-item.active,
.header-app .dropdown-item:active {
    background-color: var(--color-purple-400);
}

.header-app .dropstart .dropdown-toggle,
.header-app .dropend .dropdown-toggle {
    color: var(--bs-dropdown-color)!important;
}

.header-app .dropdown-item:hover,
.header-app .dropstart:hover .dropdown-toggle,
.header-app .dropend:hover .dropdown-toggle {
    color: #fff!important;
    background-color: var(--color-orange-400);
}

.header-app .dropstart .dropdown-toggle,
.header-app .dropend .dropdown-toggle {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.header-app .dropstart .dropdown-toggle { padding-right: 1em !important;}
.header-app .dropend .dropdown-toggle   { padding-left: 1em !important;}

@media screen and (min-width: 1200px) {
    .header-app.dropdown .dropdown-menu {
        display: none;
    }

    .header-app .dropdown:hover>.dropdown-menu,
    .header-app .dropend:hover>.dropdown-menu {
        display: block;
        margin-top: 0em;
    }

    .header-app .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}


/* offcanvas-collapse (custom) */
@media screen and (max-width: 1200px) {
    .offcanvas-collapse {
        position: fixed;
        /* Height of navbar */
        top: 46px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: var(--color-purple-400);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}
